{% extends 'base.html.twig' %}

{% block title %}Edit Character{% endblock %}

{% block body %}
    <h1>Editer {{ character.name }}</h1>

    {{ include('character/_form.html.twig', {'button_label': 'Confirmer'}) }}

    <a href="{{ path('character_index') }}" class="d-inline-block btn mb-3 btn-info">Retour</a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
