{% extends 'base.html.twig' %}

{% block title %}New Character{% endblock %}

{% block body %}
    <h1>Create new Character</h1>
    <div class="">
        {{ include('character/_form.html.twig') }}
    </div>
    <a href="{{ path('character_index') }}" class="btn btn-info mb-3 d-inline-block">Retour</a>
{% endblock %}
