{% extends 'base.html.twig' %}


{% block body %}
    <div class="row mt-5 text-center">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}